<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="all" value="exclude"/>
		<add key="part_mnf_01" value="exclude"/>
		<add key="part_mnf_02" value="exclude"/>
		<add key="part_mnf_03" value="exclude"/>
		<add key="part_mnf_04" value="exclude"/>
		<add key="part_mnf_05" value="exclude"/>
		<add key="part_mnf_06" value="exclude"/>
		<add key="part_mnf_07" value="exclude"/>
		<add key="part_mnf_08" value="exclude"/>
		<add key="part_mnf_09" value="exclude"/>
		<add key="part_mnf_10" value="exclude"/>
		<add key="part_wpn_cannon" value="exclude"/>
		<add key="part_wpn_main_vhc_tank_aa" value="exclude"/>
		<add key="part_wpn_main_vhc_turret_ml_v01_set01" value="exclude"/>
		<add key="part_wpn_tank_cannon" value="exclude"/>
		<add key="part_wpn_tank_cannon_railgun" value="exclude"/>
		<add key="part_spec_barrier" value="body"/>
		<add key="part_shield" value="equip"/>
	</appSettings>
</configuration>